@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

h1 {
  font-size: 2rem;
  color: #333;
}

.custom-class {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 8px;
}

/* Tema Terang (Light Mode) */
html {
  background-color: white;
  color: black;
}

/* Tema Gelap (Dark Mode) */
html.dark {
  background-color: #2d2d2d;
  color: white;
}



.apexcharts-tooltip {
  color: #000000 ; /* Memaksa teks menjadi hitam */
}

.apexcharts-tooltip-title {
  display: none; /* Menghilangkan judul tooltip */
}

.apexcharts-tooltip-series-group {
  display: none; /* Menghilangkan ikon bulat */
}

:root {
  --text-color: #000; /* Default to black (light mode) */
  --background-color: #fff; /* Background for light mode */
}

[data-theme="dark"] {
  --text-color: #fff; /* White text for dark mode */
  --background-color: #000; /* Background for dark mode */
}

.css-jscorc-MuiDataGrid-root .MuiDataGrid-container--top [role="row"],
.css-jscorc-MuiDataGrid-root .MuiDataGrid-container--bottom [role="row"] {
    background-color: transparent !important;
}

.css-jscorc-MuiDataGrid-root .MuiDataGrid-actions button svg {
  color: gray !important;
}

.MuiTablePagination-actions button svg {
  fill: gray; /* Mengubah warna ikon menjadi abu-abu (gray) */
}

.MuiTablePagination-displayedRows {
  color: gray; /* Mengubah warna teks menjadi abu-abu */
  font-size: 14px; /* Mengubah ukuran font */
  font-weight: bold; /* Membuat teks menjadi tebal */
}

.MuiDataGrid-row--borderBottom .css-yseucu-MuiDataGrid-columnHeaderRow {
  fill: transparent !important;
}

.css-p7wl1p-MuiDataGrid-root .MuiDataGrid-container--top [role=row],
.css-p7wl1p-MuiDataGrid-root .MuiDataGrid-container--bottom [role=row] {
  background-color: transparent;
}

.css-yseucu-MuiDataGrid-columnHeaderRow {
  background-color: transparent;
}

.MuiDataGrid-columnHeader {
  background-color: transparent;
}

.MuiDataGrid-columnSeparator {
  background-color: transparent;
}

.css-yseucu-MuiDataGrid-columnHeaderRow {
  background-color: rgba(0, 0, 0, 0);
}

.MuiDataGrid-columnHeader {
  background-color: rgba(0, 0, 0, 0);
}

.MuiDataGrid-columnSeparator {
  background-color: rgba(0, 0, 0, 0);
}