@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #0a0a0a;
  --background: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #0a0a0a;
    --background: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.apexcharts-tooltip {
  color: #000000 ; /* Memaksa teks menjadi hitam */
}

.apexcharts-tooltip-title {
  display: none; /* Menghilangkan judul tooltip */
}

.apexcharts-tooltip-series-group {
  display: none; /* Menghilangkan ikon bulat */
}
